<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYDOCTOR 채팅</title>
</head>
<body>
    <iframe src='https://www.vchatcloud.com/chat-demo/iframe/iframe_kakao/v3/index.html?channelKey=MoBbIQFzOA-1cx5LgiebO-20230610234550' frameborder='no' scrolling='no' marginwidth='0' marginheight='0' width='390' height='691'></iframe>
</body>
</html>